<h1>Page of contact </h1>

<% members = ["joe", "william", "max", "dylan", "bob"] %>

<h2>Meet our team</h2>
<ol>
<% members.each do |member| %>
<li> <%member.capitalize%> </li>
<% end %>

</ol>
<%= link_to "Meet our team", about_path %>
<form action="/contact" methode="get"> 
<input type="text" value="<%= params[:member] %>" placeholder="who are you looking for ?">
<input type="submit">
</form>